alembic==1.12.1

annotated-types==0.6.0
apache-beam==2.48.0
apache-flink==1.18.0
apache-flink-libraries==1.18.0
avro-python3==1.10.2
blinker==1.7.0
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
colorlog==6.7.0
confluent-kafka==2.3.0
contourpy==1.1.1
crcmod==1.7
cycler==0.12.1
databricks-cli==0.18.0
dill==0.3.1.1
distlib==0.3.7
dnspython==2.4.2
docker==6.1.3
docopt==0.6.2
entrypoints==0.4
fastavro==1.9.0
fasteners==0.19
filelock==3.12.4
find-libpython==0.3.1
Flask==3.0.0
fonttools==4.44.0
fsspec==2023.10.0
gitdb==4.0.11
GitPython==3.1.40
greenlet==3.0.1
grpcio==1.59.2
gunicorn==21.2.0
hdfs==2.7.3
httplib2==0.22.0
identify==2.5.29
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
Mako==1.3.0
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.7.3
mlflow==2.8.0
mpmath==1.3.0
networkx==3.1
nodeenv==1.8.0
numpy==1.24.4
oauthlib==3.2.2
objsize==0.6.1
orjson==3.9.10
packaging==23.2
pandas==2.0.3
pemja==0.3.0
Pillow==10.1.0
platformdirs==3.10.0
pre-commit==3.4.0
proto-plus==1.22.3
protobuf==4.23.4
psutil==5.9.6
py4j==0.10.9.7
pyarrow==11.0.0
pydantic==2.4.2
pydantic-settings==2.0.3
pydantic_core==2.10.1
pydot==1.4.2
PyJWT==2.8.0
pymongo==4.6.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
querystring-parser==1.2.4
regex==2023.10.3
requests==2.31.0
scikit-learn==1.3.2
scipy==1.10.1
six==1.16.0
smmap==5.0.1
SQLAlchemy==2.0.23
sqlparse==0.4.4
-e git+https://github.com/AymenRumi/real-time-activity-recognition.git@be66577d4056e8f4f164596a2946417c78ceb27e#egg=src
sympy==1.12
tabulate==0.9.0
threadpoolctl==3.2.0
torch==2.1.0
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
virtualenv==20.24.5
websocket-client==1.6.4
Werkzeug==3.0.1
zipp==3.17.0
zstandard==0.22.0
